<!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action="/upload" method=POST>
      <input type=file name=file placeholder="Product_image">
      <input type="text" class="form-control" name=Price placeholder="Price">
      <input type="text" class="form-control" name=stock placeholder="stock">
      <input type=submit value=Upload>
      {% with messages = get_flashed_messages() %}  
          {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
          {% endif %}  
      {% endwith %}
    </form>